# misc
.env.production
.DS_Store
.env.production
.env.development.local
.env.test.local
.env.production.local
encodeURIComponent.js
encodeURIComponent.ts
aaaaaaaaaa.cjs
node_modules
lmao.js
.env.development
bun.lockb
.env.tests

# build
build