# IDE
.idea
.vscode
*.iws
*.iml
*.ipr
/out/

# dependencies
/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
encodeURIComponent.js
encodeURIComponent.ts
aaaaaaaaaa.cjs
lmao.js
package-lock.json
bun.lockb

# local env files
.env*.local
.env.*
*.env
